<app-topbar></app-topbar>
<main>
  <section>
    <div class="container">
      <div class="loading-spinner " *ngIf="(isLoading$ | async)">
        <div class="spinner-dots align-self-center mx-auto">
          <span class="dot1"></span> <span class="dot2"></span>
          <span class="dot3"></span>
        </div>
      </div>
      <div class="row gap-y">
        <div @items *ngFor="let item of dataSource" class="col-md-6 col-xl-4">
          <div class="card">
            <header class="card-header">
              <h4 class="card-title">
                <strong>{{ item.name | titlecase }}</strong>
              </h4>
            </header>

            <div class="card-body">
              <img src="../../../assets//img/shop.png" alt="" />
            </div>

            <footer class="card-footer d-flex justify-content-center">
              <button (click)="onDislike(item)" class="btn btn-danger mx-1">
                Dislike
              </button>
              <button (click)="onLike(item)" class="btn btn-success mx-1">
                Like
              </button>
            </footer>
          </div>
        </div>
      </div>
      <br />
      <div class="align-self-center ">
        <mat-paginator
          #paginator
          [length]="totalSize"
          [pageSize]="pageSize"
          [pageIndex]="currentPage"
          [pageSizeOptions]="[5, 10, 15, 20]"
          [showFirstLastButtons]="true"
          (page)="handlePage($event)"
        >
        </mat-paginator>
      </div>
      <br />
    </div>
  </section>
</main>
<app-footer></app-footer>
