<!-- Header -->
<header class="header text-white mb-0" style="background-color: #b9a0c9;">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark">
    <div *ngIf="isOpened" (click)="backdropClick()" class="backdrop"></div>
    <div class="container">
      <div class="navbar-left mr-4">
        <button
          class="navbar-toggler"
          #button
          (click)="isOpened = true"
          type="button"
        >
          <i class="ti-menu"></i>
        </button>
        <a class="navbar-brand fs-22 fw-400" href="#"> NearbyShop </a>
      </div>

      <section class="navbar-mobile">
        <button class="navbar-toggler" (click)="isOpened = false" type="button">
          <i class="ti-close"></i>
        </button>
        <nav class="nav nav-navbar ml-auto">
          <a
            class="nav-link "
            [routerLink]="['/nearby-shops']"
            routerLinkActive="active"
            (click)="navbarLinkClick()"
            >Shops</a
          >
          <a
            class="nav-link "
            [routerLink]="['/preferred-shops']"
            routerLinkActive="active"
            (click)="navbarLinkClick()"
            >Preferred Shops</a
          >
          <a href="#" class="nav-link logout-btn" (click)="onLogout()"
            ><i class="fa fa-power-off mr-1"></i> Logout</a
          >
        </nav>
        <span class="navbar-divider"></span>
        <div class="avatar-btn dropdown ml-lg-5">
          <span class="dropdown-toggle no-caret" data-toggle="dropdown">
            <img
              class="avatar avatar-xs"
              src="../assets/img/avatar/1.jpg"
              alt="user"
            />
          </span>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" [routerLink]="['/nearby-shops']">Shops</a>
            <a class="dropdown-item" [routerLink]="['/preferred-shops']"
              >Preferred Shops</a
            >
            <div class="dropdown-divider"></div>
            <a (click)="onLogout()" class="dropdown-item" href="#">
              <i class="fa fa-power-off mr-1"></i> Logout</a
            >
          </div>
        </div>
      </section>
    </div>
  </nav>
  <!-- /.navbar -->

  <div class="container text-center">
    <div class="row">
      <div class="col-md-12 mx-auto">
        <h1>Find the nearest shop</h1>
        <p class="lead-2 opacity-90 mt-6">
          You can add a shop to your preferred shops list.
        </p>
      </div>
    </div>
  </div>
</header>
