@media (min-width: 991px) {
  .logout-btn {
    display: none !important;
  }
  .avatar-btn {
    display: block !important;
  }

  .active {
    color: rgb(46, 41, 41) !important;
    text-decoration: rgb(46, 41, 41) underline !important;
  }
}

@media (max-width: 990px) {
  .logout-btn {
    display: block !important;
  }

  .avatar-btn {
    display: none !important;
  }
}
