<div class="row no-gutters min-h-fullscreen bg-white">
  <div class="col-md-6 col-lg-7 col-xl-8 p-5 side-layout">
    <a class="text-white fs-30" href="#">NearbyShops </a>
  </div>
  <div class="col-md-6 col-lg-5 col-xl-4 align-self-center">
    <div class="px-60 py-30">
      <h3>Login</h3>
      <p><small>Fill the form to login into your account</small></p>
      <form
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit(loginForm)"
        class="form-type-material"
      >
        <div class="form-group">
          <input
            formControlName="email"
            type="email"
            class="form-control"
            id="email"
            placeholder="Email"
          />
          <div
            class="invalid-feedback"
            *ngIf="email.hasError('required') && email.touched"
          >
            Please enter an email
          </div>
          <div
            class="invalid-feedback"
            *ngIf="email.hasError('email') && email.touched"
          >
            Please enter a valid email
          </div>
        </div>

        <div class="form-group">
          <input
            formControlName="password"
            type="password"
            class="form-control"
            id="password"
            placeholder="Password (5 or mor characters)"
          />
          <div
            class="invalid-feedback"
            *ngIf="!password.valid && password.touched"
          >
            Please enter a password
          </div>
        </div>

        <div class="form-group flexbox flex-end">
          <a
            routerLink="/forgot-password"
            class="text-muted hover-primary fs-14"
            >Forgot Password?</a
          >
        </div>

        <div class="form-group">
          <button
            [disabled]="loginForm.invalid"
            class="btn btn-bold btn-block btn-primary"
            type="submit"
          >
            <div
              *ngIf="(isLoading$ | async)"
              class="spinner-dots align-self-center mx-auto"
            >
              <span class="dot1"></span> <span class="dot2"></span>
              <span class="dot3"></span>
            </div>
            <span *ngIf="!(isLoading$ | async)">Login</span>
          </button>
        </div>
      </form>

      <hr class="w-10px" />

      <p class="text-center text-muted fs-15 mt-18">
        If you don't have an account you can
        <a class="text-primary fw-500" [routerLink]="['../register']"
          >Register
        </a>
      </p>
    </div>
  </div>
</div>
