<div class="row no-gutters min-h-fullscreen bg-white">
  <div class="col-md-6 col-lg-7 col-xl-8 p-5 side-layout">
    <a class="text-white fs-30" href="#">NearbyShops </a>
  </div>
  <div class="col-md-6 col-lg-5 col-xl-4 align-self-center">
    <div class="px-60 py-30">
      <h3 class="m-0">Register</h3>
      <p><small>Fill the form to create an account</small></p>

      <form
        [formGroup]="registerForm"
        (ngSubmit)="onSubmit(registerForm)"
        class="form-type-material"
      >
        <div class="form-group">
          <input
            formControlName="email"
            type="email"
            class="form-control"
            id="email"
            placeholder="Email"
          />
          <div *ngIf="email.pending" class="input-group-append">
            <div class="spinner-dots align-self-center mx-auto">
              <span class="dot1"></span> <span class="dot2"></span>
              <span class="dot3"></span>
            </div>
          </div>
          <div
            *ngIf="email.hasError('required') && email.touched"
            class="invalid-feedback"
          >
            Please enter an email
          </div>
          <div
            *ngIf="email.hasError('email') && email.touched"
            class="invalid-feedback"
          >
            This is not a valid email
          </div>
          <div
            *ngIf="email.errors && email.hasError('message')"
            class="invalid-feedback"
          >
            😢 Oh noes, this email is already taken!
          </div>
        </div>

        <div class="form-group">
          <input
            formControlName="password"
            type="password"
            class="form-control"
            id="password"
            placeholder="Password (5 or more characters)"
          />
          <div
            *ngIf="!password.valid && password.touched"
            class="invalid-feedback"
          >
            <span *ngIf="password.errors['required']"
              >Please enter a password</span
            >
            <span *ngIf="password.errors['minlength']"
              >Password must be 5 or more characters</span
            >
          </div>
        </div>

        <div class="form-group">
          <input
            formControlName="confirmPassword"
            type="password"
            class="form-control"
            id="confirmPassword"
            placeholder="Confirm password"
          />
          <div
            *ngIf="
              confirmPassword.touched && confirmPassword.hasError('required')
            "
            class="invalid-feedback"
          >
            <span>Please confirm your password</span>
          </div>
          <div class="invalid-feedback">
            <span
              *ngIf="
                registerForm.hasError('passwordsNotEqual') &&
                (confirmPassword.touched || confirmPassword.dirty)
              "
              >Passwords are not the same</span
            >
          </div>
        </div>

        <div class="form-group">
          <button
            [disabled]="registerForm.invalid"
            class="btn btn-bold btn-block btn-primary"
            type="submit"
          >
            <div
              *ngIf="(isLoading$ | async)"
              class="spinner-dots align-self-center mx-auto"
            >
              <span class="dot1"></span> <span class="dot2"></span>
              <span class="dot3"></span>
            </div>
            <span *ngIf="!(isLoading$ | async)">Register</span>
          </button>
        </div>

        <hr class="w-5px" />
        <p class="text-center text-muted ">
          Already have an account?
          <a class="text-primary fw-500" [routerLink]="['/login']">Login </a>
        </p>
      </form>
    </div>
  </div>
</div>
