<footer class="footer text-white bg-dark py-7">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div
          class="nav nav-bold nav-uppercase justify-content-center justify-content-md-end"
        >
          <a class="nav-link" href="#">About</a>
          <a class="nav-link" href="#">Blog</a>
          <a class="nav-link" href="#">Contact</a>
        </div>
      </div>

      <div class="col-md-6 text-center text-md-left mt-5 mt-md-0">
        <div class="social social-bg-dark">
          <a class="social-facebook" href="#"><i class="fa fa-facebook"></i></a>
          <a class="social-twitter" href="#"><i class="fa fa-twitter"></i></a>
          <a class="social-instagram" href="#"
            ><i class="fa fa-instagram"></i
          ></a>
          <a class="social-youtube" href="#"><i class="fa fa-youtube"></i></a>
          <a class="social-dribbble" href="#"><i class="fa fa-dribbble"></i></a>
        </div>
      </div>

      <div class="col-12 text-center">
        <br />
        <small>© NearbyShops 2018, All rights reserved.</small>
      </div>
    </div>
  </div>
</footer>
