/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

main {
  min-height: 100vh !important;
  background-color: #fafafa;
  padding-top: 1rem !important;
}

.invalid-feedback {
  color: #f96868;
  font-size: 13px;
  display: block;
}

.dropdown-menu {
  min-width: 10rem;
  padding: 10px 16px;
  font-size: 14px;
  margin-top: 5px;
  border: none;
}

.dropdown-item {
  padding-right: 0.25rem;
  padding-left: 0.25rem;
  width: 100%;
}
.dropdown-item:hover {
  background-color: #fff;
  color: #b4579d;
}

.loading-spinner {
  min-height: 250px !important;
  display: flex;
}

.backdrop-sidebar {
  z-index: 996;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

.backdrop::after {
  content: '\e646';
  font-family: themify;
  font-size: 24px;
  color: #b5b9bf;
  opacity: 0.7;
  position: absolute;
  top: 20px;
  right: 30px;
}

@media (max-width: 768px) {
  .side-layout {
    display: none !important;
  }
}
